<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @dish.name %>
</p>

<p>
  <b>В категории:</b>
  <%= @dish.category.name%>
</p>

<p>
   <b> Рецепт:</b>
   <span class="content"><%= word_wrap(@dish.recipe, :line_width => 52) %></span>
</p>

<%= link_to 'Редактировать', edit_dish_path(@dish) %> |
<%= link_to 'Назад ', dishes_path %>|
<%= link_to 'Удалить', @dish, :confirm => 'Are you sure?', :method => :delete %>
