<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @dish.name %>
</p>

<p>
  <b>В категории:</b>
  <%= @dish.category_id%>
</p>


<%= link_to 'Редактировать', edit_dish_path(@dish) %> |
<%= link_to 'Назад ', dishes_path %>|
<%= link_to 'Удалить', @dish, :confirm => 'Are you sure?', :method => :delete %>
